<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT historier ANY>
<!ATTLIST historier id ID #REQUIRED>
<!ELEMENT erindringer ANY>
<!ATTLIST erindringer id ID #REQUIRED>
<!ELEMENT index ANY>
<!ATTLIST index id ID #REQUIRED>
<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>
<!ELEMENT lokationer ANY>
<!ATTLIST lokationer id ID #REQUIRED>
<!ELEMENT lokation ANY>
<!ATTLIST lokation id ID #REQUIRED>
<!ELEMENT erindring ANY>
<!ATTLIST erindring id ID #REQUIRED>
<!ELEMENT historie ANY>
<!ATTLIST historie id ID #REQUIRED>
]>
<root id="-1">
  <index id="1068" key="fcd31a7d-1d0e-4483-9ac5-f6ffc01a9e78" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-15T16:22:14" updateDate="2018-04-24T16:33:31" nodeName="da" urlName="da" path="-1,1068" isDoc="" nodeType="1061" creatorName="Admin" writerName="Admin" writerID="0" template="1060" nodeTypeAlias="index" isPublished="true">
    <forside id="1069" key="ab5dbe30-7722-4f4d-96f5-52f16224355b" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2018-04-15T16:23:26" updateDate="2018-04-24T16:33:31" nodeName="Forside" urlName="forside" path="-1,1068,1069" isDoc="" nodeType="1062" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="forside" isPublished="true">
      <billede><![CDATA[umb://media/3fda52c89c064b2bab1251bde5a2c681]]></billede>
      <titel><![CDATA[Havne Appppp]]></titel>
      <beskrivelse><![CDATA[Beskrivelse: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at auctor diam. Aliquam elementum magna at enim tempus laoreet. Phasellus consequat mauris at odio tristique tempus. Nunc vitae massa efficitur, ornare enim eget, bibendum arcu. Nullam ac elit suscipit, mollis felis ac, feugiat orci. Etiam molestie blandit magna nec finibus. Aliquam ut erat eget diam sagittis ullamcorper a at mi. Pellentesque consectetur commodo tortor sed condimentum. Mauris ipsum purus, dictum sit amet purus et, commodo tristique velit. Proin fringilla orci leo, a tempus neque convallis vel. Praesent nec aliquam dui. Nulla lacinia, est eget efficitur malesuada, tellus dolor pretium velit.]]></beskrivelse>
    </forside>
    <lokationer id="1070" key="d686087b-7c8a-4a9b-9c18-781cd64ef9d7" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2018-04-15T16:23:38" updateDate="2018-04-24T16:33:31" nodeName="Lokationer" urlName="lokationer" path="-1,1068,1070" isDoc="" nodeType="1063" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="lokationer" isPublished="true">
      <lokation id="1073" key="33de1098-9b6b-473d-97d2-c06b43d0ce5d" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2018-04-15T16:25:20" updateDate="2018-04-24T16:33:31" nodeName="Fiskeri og Søfarts museet" urlName="fiskeri-og-soefarts-museet" path="-1,1068,1070,1073" isDoc="" nodeType="1064" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="lokation" isPublished="true">
        <foerBillede><![CDATA[umb://media/d91e17345bfa437f988aebd5e4f61726]]></foerBillede>
        <titel><![CDATA[Fiskeri- og Søfartsmuseet]]></titel>
        <breddegrad><![CDATA[1234]]></breddegrad>
        <nuBillede><![CDATA[umb://media/38b7b4d1dc2344b7b575b0c7fccaa5e3]]></nuBillede>
        <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at auctor diam. Aliquam elementum magna at enim tempus laoreet. Phasellus consequat mauris at odio tristique tempus. Nunc vitae massa efficitur, ornare enim eget, bibendum arcu. Nullam ac elit suscipit, mollis felis ac, feugiat orci. Etiam molestie blandit magna nec finibus. Aliquam ut erat eget diam sagittis ullamcorper a at mi. Pellentesque consectetur commodo tortor sed condimentum. Mauris ipsum purus, dictum sit amet purus et, commodo tristique velit. Proin fringilla orci leo, a tempus neque convallis vel. Praesent nec aliquam dui. Nulla lacinia, est eget efficitur malesuada, tellus dolor pretium velit.]]></beskrivelse>
        <laengdegrad><![CDATA[123]]></laengdegrad>
        <erindringer id="1086" key="299034cd-6981-4ad5-931e-16e8ed4e6982" parentID="1073" level="4" creatorID="0" sortOrder="0" createDate="2018-04-15T16:42:21" updateDate="2018-04-24T16:33:31" nodeName="Erindringer" urlName="erindringer" path="-1,1068,1070,1073,1086" isDoc="" nodeType="1084" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="erindringer" isPublished="true">
          <erindring id="1088" key="ac770876-4166-4a18-91b7-f80f6c641959" parentID="1086" level="5" creatorID="0" sortOrder="0" createDate="2018-04-15T16:44:44" updateDate="2018-04-24T16:33:31" nodeName="1" urlName="1" path="-1,1068,1070,1073,1086,1088" isDoc="" nodeType="1077" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="erindring" isPublished="true">
            <billede><![CDATA[umb://media/38b7b4d1dc2344b7b575b0c7fccaa5e3]]></billede>
            <titel><![CDATA[1]]></titel>
            <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eget metus at rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.]]></beskrivelse>
            <videoLink><![CDATA[https://imgur.com/]]></videoLink>
          </erindring>
          <erindring id="1108" key="0b7cf1a4-e849-42b9-9a96-4f2bc206e961" parentID="1086" level="5" creatorID="0" sortOrder="1" createDate="2018-04-24T10:54:25" updateDate="2018-04-24T16:33:31" nodeName="2" urlName="2" path="-1,1068,1070,1073,1086,1108" isDoc="" nodeType="1077" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="erindring" isPublished="true">
            <billede><![CDATA[umb://media/38b7b4d1dc2344b7b575b0c7fccaa5e3]]></billede>
            <titel><![CDATA[2]]></titel>
            <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eget metus at rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.]]></beskrivelse>
          </erindring>
        </erindringer>
        <historier id="1087" key="0835a0dc-a27d-4e00-8d72-b576c7c7c5fd" parentID="1073" level="4" creatorID="0" sortOrder="1" createDate="2018-04-15T16:42:32" updateDate="2018-04-24T16:33:31" nodeName="Historier" urlName="historier" path="-1,1068,1070,1073,1087" isDoc="" nodeType="1085" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="historier" isPublished="true">
          <historie id="1089" key="48187215-2426-4d7f-be47-3459233a1e81" parentID="1087" level="5" creatorID="0" sortOrder="0" createDate="2018-04-15T16:45:23" updateDate="2018-04-24T16:33:31" nodeName="1" urlName="1" path="-1,1068,1070,1073,1087,1089" isDoc="" nodeType="1083" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="historie" isPublished="true">
            <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eget metus at rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.]]></beskrivelse>
            <billede><![CDATA[umb://media/d91e17345bfa437f988aebd5e4f61726]]></billede>
            <videoLink><![CDATA[https://imgur.com/]]></videoLink>
            <titel><![CDATA[1]]></titel>
          </historie>
          <historie id="1109" key="ef998125-96ff-4b28-b756-876ceadc7e12" parentID="1087" level="5" creatorID="0" sortOrder="1" createDate="2018-04-24T10:54:44" updateDate="2018-04-24T16:33:31" nodeName="2" urlName="2" path="-1,1068,1070,1073,1087,1109" isDoc="" nodeType="1083" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="historie" isPublished="true">
            <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eget metus at rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.d]]></beskrivelse>
            <billede><![CDATA[umb://media/38b7b4d1dc2344b7b575b0c7fccaa5e3]]></billede>
            <titel><![CDATA[2]]></titel>
          </historie>
        </historier>
      </lokation>
      <lokation id="1111" key="6e708bfa-cd0a-4702-ac53-0aa30a1deee4" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2018-04-24T16:16:52" updateDate="2018-04-24T16:33:31" nodeName="Dokhavnen" urlName="dokhavnen" path="-1,1068,1070,1111" isDoc="" nodeType="1064" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="lokation" isPublished="true">
        <foerBillede><![CDATA[umb://media/d91e17345bfa437f988aebd5e4f61726]]></foerBillede>
        <titel><![CDATA[Dokhavnen]]></titel>
        <breddegrad><![CDATA[1234]]></breddegrad>
        <nuBillede><![CDATA[umb://media/38b7b4d1dc2344b7b575b0c7fccaa5e3]]></nuBillede>
        <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at auctor diam. Aliquam elementum magna at enim tempus laoreet. Phasellus consequat mauris at odio tristique tempus. Nunc vitae massa efficitur, ornare enim eget, bibendum arcu. Nullam ac elit suscipit, mollis felis ac, feugiat orci. Etiam molestie blandit magna nec finibus. Aliquam ut erat eget diam sagittis ullamcorper a at mi. Pellentesque consectetur commodo tortor sed condimentum. Mauris ipsum purus, dictum sit amet purus et, commodo tristique velit. Proin fringilla orci leo, a tempus neque convallis vel. Praesent nec aliquam dui. Nulla lacinia, est eget efficitur malesuada, tellus dolor pretium velit.]]></beskrivelse>
        <laengdegrad><![CDATA[123]]></laengdegrad>
        <erindringer id="1112" key="395229ef-bd53-42a1-8e0d-ba4fa3de3b35" parentID="1111" level="4" creatorID="0" sortOrder="0" createDate="2018-04-24T16:16:52" updateDate="2018-04-24T16:33:31" nodeName="Erindringer" urlName="erindringer" path="-1,1068,1070,1111,1112" isDoc="" nodeType="1084" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="erindringer" isPublished="true">
          <erindring id="1118" key="b28226ee-b32b-48e0-bbeb-788c81ea828f" parentID="1112" level="5" creatorID="0" sortOrder="0" createDate="2018-04-24T16:19:13" updateDate="2018-04-24T16:33:31" nodeName="1" urlName="1" path="-1,1068,1070,1111,1112,1118" isDoc="" nodeType="1077" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="erindring" isPublished="true">
            <billede><![CDATA[umb://media/d91e17345bfa437f988aebd5e4f61726]]></billede>
            <titel><![CDATA[1]]></titel>
            <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eget metus at rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.]]></beskrivelse>
          </erindring>
        </erindringer>
        <historier id="1115" key="69343dd4-3366-40a0-b0d7-5f32f5e6fc1a" parentID="1111" level="4" creatorID="0" sortOrder="1" createDate="2018-04-24T16:16:52" updateDate="2018-04-24T16:33:31" nodeName="Historier" urlName="historier" path="-1,1068,1070,1111,1115" isDoc="" nodeType="1085" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="historier" isPublished="true">
          <historie id="1119" key="45154806-ffff-4ebe-83e9-3e21c784ac95" parentID="1115" level="5" creatorID="0" sortOrder="0" createDate="2018-04-24T16:19:41" updateDate="2018-04-24T16:33:31" nodeName="1" urlName="1" path="-1,1068,1070,1111,1115,1119" isDoc="" nodeType="1083" creatorName="Admin" writerName="Admin" writerID="0" template="0" nodeTypeAlias="historie" isPublished="true">
            <beskrivelse><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eget metus at rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere.]]></beskrivelse>
            <billede><![CDATA[umb://media/38b7b4d1dc2344b7b575b0c7fccaa5e3]]></billede>
            <titel><![CDATA[1]]></titel>
          </historie>
        </historier>
      </lokation>
    </lokationer>
  </index>
</root>